df-explorer==0.0.3
extra-streamlit-components==0.1.56
importlib-metadata==6.1.0
Markdown==3.4.3
markdown-it-py==2.2.0
markdownlit==0.0.7
MarkupSafe==2.1.2
matplotlib==3.7.1
numerize==0.12
numpy==1.23.5
streamlit
pandas
plotly 
seaborn 
altair
matplotlib 
streamlit-extras
openpyxl==3.1.2



